.nav-button {
    background-color: #7C6850;
    color: #FFFFFF;

}

.home {
    background: linear-gradient(178.81deg, #F9F1E6 14.53%, rgba(249, 241, 230, 0) 56.38%, #FFFFFF 91.08%);
    /* position: relative; */

}

.overlay {
    position: absolute;
    color: #7C685012;
    font-size: 10vw;
    width: 100%;
    /* text-align: center; */
    font-weight: 100;
    


}

.home p {
    padding: 0% 20%;
}

.trip {
    background-color: #FFFFFF;
    padding: 0.5% 3%;
}

.trip:hover {
    background-color: #FFFFFF;
}

.offer {
    background-color: #F9F1E6;
    padding: 0% 5%;
}

.offer:hover {
    background-color: #F9F1E6;
}

.mid {
    background-color: #292826;
    color: #FFFFFF;
    padding: 0% 5%;
}

.footer {
    background-color: #F9F1E6;
    padding: 0% 10%;

}

.footer li {
    list-style-type: none;
    padding-top: 15%;
}

.footer button {
    border-radius: 50%;
    border: 1px solid black;
}

.footer button:hover {
    background-color: #F9F1E6;
}

.list {
    padding: 0% 5%;
}

.group {
    padding: 8% 8%;
}

.about {
    background-color: #F9F1E699;
}

.center {
    padding: 0% 30%;
}

.about_button {
    padding: 0% 20%;

}

.about_button_1 {
    padding: 0% 25%;

}

.about_button_2 {
    padding: 0% 39%;

}

.about_mid {
    background-color: #7C6850;
    color: #FFFFFF;
}

.bottom-right {
    position: absolute;
    background-color: #FFFFFF1A;
    border-width: 1px, 0px, 0px, 1px;

    border-style: solid 1px;
    border-top-left-radius: 23px;
    border-image-source: linear-gradient(102.21deg, #F9F9F9 0%, rgba(165, 165, 165, 0.52) 100%);
    color: white;
    bottom: 0%;
    right: 0%;
    left: 50%;
    padding: 5%;

}

.bottom-left {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    border-width: 1px, 0px, 0px, 1px;

    border-style: solid 1px;
    border-top-right-radius: 23px;
    border-image-source: linear-gradient(102.21deg, #F9F9F9 0%, rgba(165, 165, 165, 0.52) 100%);
    color: white;
    bottom: 0%;
    right: 50%;
    left: 0%;
    padding: 5%;

}

.top-right {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    border-width: 1px, 0px, 0px, 1px;

    border-style: solid 1px;
    border-bottom-left-radius: 23px;
    border-image-source: linear-gradient(102.21deg, #F9F9F9 0%, rgba(165, 165, 165, 0.52) 100%);
    color: white;
    bottom: 0%;
    right: 50%;
    left: 0%;
    padding: 5%;
    top: 0%;
    right: 0%;
    left: 50%;
    padding: 5%;
    bottom: 25%;

}

.top-left {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    border-width: 1px, 0px, 0px, 1px;

    border-style: solid 1px;
    border-bottom-right-radius: 23px;
    border-image-source: linear-gradient(102.21deg, #F9F9F9 0%, rgba(165, 165, 165, 0.52) 100%);
    color: white;
    bottom: 0%;
    right: 50%;
    left: 0%;
    padding: 5%;
    top: 0%;
    right: 50%;
    left: 0%;
    padding: 5%;
    bottom: 25%;

}

h3 {

    font-family: Georgia;
    font-size: 42px;
    font-style: italic;
    font-weight: 400;
    line-height: 51px;


}

.home h1 {
    font-family: Poppins;
    font-size: 56px;
    font-weight: 600;
    line-height: 67px;
    color: rgba(124, 104, 80, 1);


}

h6 {
    font-family: Georgia;
    
    font-weight: 400;
    line-height: 36.36px;

}

h5 {
    font-family: Poppins;
    font-size: 2vw;
    font-weight: 500;
    line-height: 1vw;
    letter-spacing: 1px;


}

/* p {
    font-family: Poppins;
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 24px;


} */

nav li {
    font-family: Poppins;
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;


}

.menu {
    padding: 0% 15%;
}

.overlay-1 {
    position: absolute;
    border: 1px solid;

    border-image-source: linear-gradient(92.29deg, rgba(255, 255, 255, 0.4) 0%, #FFFFFF 100%);
    background: #FFFFFF4D;
    border-radius: 15px;
    color: #FFFFFF;
    flex-direction: column;
    justify-content: center;
    top: 2%;


}

.faq p {
    color: #667085;
    padding: 0% 0%;
    text-align: start;

}

nav a {
    text-decoration: none;
    color: black;
}

/* nav{
    padding: 0% 10%;
} */
.round {
    border-radius: 23px;
    overflow: hidden;
 
    

}
.bottom{
    top: 392%;
    left: 15%;
    z-index: 0;
   
    
}
.rotate{
    position: absolute;
    transform: rotate(-15.5deg);
    color: black;
    top: 26%;
    left: 7.8%;
    border: 1px dashed black;
    padding: 0% 6%;
    border-radius: 25px;
    z-index: 1;
    
   
}
